.videos-search {
  font-family: sans-serif;
  max-width: 1024px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  label {
    width: 100%;
  }

  input {
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209)
      rgb(186, 186, 186);
  }

  button {
    border-radius: 0;
    cursor: pointer;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209)
      rgb(186, 186, 186);
    background-image: linear-gradient(to top right, #ec1c24, #d91c5c);
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .container {
    margin-top: 1rem;
    position: relative;
    color: #fff;

    &--absolute {
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      background-image: linear-gradient(
        to top right,
        #ec1c24,
        #d91c5c
      );
    }
  }

  .fill-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
