.video-player {
  width: 100%;

  &__buttons {
    margin-top: 0.5rem;
    display: flex;

    .button {
      font-size: 2rem;
      padding: 0.5rem;

      + .button {
        margin-left: 0.5rem;
      }
    }
  }
}
