.message {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;

    @media screen and (min-width: 1025px) {
      font-size: 2.5rem;
    }
  }

  &__description {
    font-size: 1rem;
    margin-top: 1rem;

    @media screen and (min-width: 1025px) {
      font-size: 1.2rem;
    }
  }
}
